@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background: #1e3c72;
  background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);
  background: linear-gradient(to right, #2a5298, #1e3c72);

  height: 150vh;
  overflow: none;
}
